ion-segment {
  margin-bottom: 16px;
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  margin-bottom: 8px;
  border-radius: 8px;
}

ion-avatar {
  width: 48px;
  height: 48px;
}

ion-icon {
  font-size: 2rem;
}

ion-badge {
  font-size: 0.75rem;
}

