<ion-menu side="start" menuId="menuPrincipal" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Uniempleo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="full">
      <ion-item
        button
        (click)="cerrarMenu()"
        routerLink="/pestanas/tab1"
        class="menu-item"
      >
        <ion-icon name="newspaper" slot="start"></ion-icon>
        <ion-label>Feed</ion-label>
      </ion-item>

      <ion-item
        button
        (click)="cerrarMenu()"
        routerLink="/pestanas/tab2"
        class="menu-item"
        [class.menu-item-notification]="mensajesNoLeidosCount > 0"
      >
        <ion-icon name="chatbubbles" slot="start"></ion-icon>
        <ion-label>Chat</ion-label>
        <ion-badge
          *ngIf="mensajesNoLeidosCount > 0 && mensajesNoLeidosCount <= 99"
          color="danger"
          slot="end"
        >
          {{ mensajesNoLeidosCount }}
        </ion-badge>
      </ion-item>

      <ion-item
        *ngIf="rol === 'egresado'"
        button
        (click)="cerrarMenu()"
        routerLink="/perfil-egresado"
        class="menu-item"
      >
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Mi Perfil</ion-label>
      </ion-item>

      <ion-item
        *ngIf="rol === 'egresado'"
        button
        (click)="cerrarMenu()"
        routerLink="/pestanas/servicios"
        class="menu-item"
      >
        <ion-icon name="briefcase" slot="start"></ion-icon>
        <ion-label>Servicios</ion-label>
      </ion-item>

      <ion-item
        *ngIf="rol === 'egresado'"
        button
        (click)="cerrarMenu()"
        routerLink="/solicitudes-persona"
        class="menu-item"
        [class.menu-item-notification]="solicitudesCount > 0"
      >
        <ion-icon name="document-text" slot="start"></ion-icon>
        <ion-label>Solicitudes</ion-label>
        <ion-badge
          *ngIf="solicitudesCount > 0 && solicitudesCount <= 99"
          color="danger"
          slot="end"
        >
          {{ solicitudesCount }}
        </ion-badge>
      </ion-item>

      <ion-item
        *ngIf="rol === 'egresado'"
        button
        (click)="cerrarMenu()"
        routerLink="/historial-postulaciones"
        class="menu-item"
      >
        <ion-icon name="time" slot="start"></ion-icon>
        <ion-label>Historial de Postulaciones</ion-label>
      </ion-item>

      <ion-item
        *ngIf="rol === 'empresa'"
        button
        (click)="cerrarMenu()"
        routerLink="/pestanas/tab3"
        class="menu-item"
      >
        <ion-icon name="briefcase" slot="start"></ion-icon>
        <ion-label>Vacantes</ion-label>
      </ion-item>

      <ion-item
        *ngIf="rol === 'empresa'"
        button
        (click)="cerrarMenu()"
        routerLink="/perfil-empresa"
        class="menu-item"
      >
        <ion-icon name="business" slot="start"></ion-icon>
        <ion-label>Mi Empresa</ion-label>
      </ion-item>

      <ion-item
        *ngIf="rol === 'empresa'"
        button
        (click)="cerrarMenu()"
        routerLink="/solicitudes"
        class="menu-item"
        [class.menu-item-notification]="solicitudesCount > 0"
      >
        <ion-icon name="document-text" slot="start"></ion-icon>
        <ion-label>Solicitudes</ion-label>
        <ion-badge
          *ngIf="solicitudesCount > 0 && solicitudesCount <= 99"
          color="danger"
          slot="end"
        >
          {{ solicitudesCount }}
        </ion-badge>
      </ion-item>

      <ion-item
        *ngIf="esAdmin"
        button
        (click)="cerrarMenu()"
        routerLink="/admin"
        class="menu-item menu-item-admin"
      >
        <ion-icon name="shield" slot="start"></ion-icon>
        <ion-label>Administración</ion-label>
      </ion-item>

      <ion-item button (click)="logout()" class="menu-item menu-item-logout">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>Salir</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Uniempleo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1" href="/pestanas/tab1">
        <ion-icon aria-hidden="true" name="newspaper"></ion-icon>
        <ion-label>Feed</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab2" href="/pestanas/tab2">
        <ion-icon aria-hidden="true" name="chatbubbles"></ion-icon>
        <ion-label>Chat</ion-label>
        <div
          *ngIf="mensajesNoLeidosCount > 0 && mensajesNoLeidosCount <= 99"
          class="tab-notification-dot"
        ></div>
        <ion-badge
          *ngIf="mensajesNoLeidosCount > 0 && mensajesNoLeidosCount <= 99"
          color="danger"
          >{{ mensajesNoLeidosCount }}</ion-badge
        >
      </ion-tab-button>
      <ion-tab-button
        *ngIf="rol === 'empresa'"
        tab="tab3"
        href="/pestanas/tab3"
      >
        <ion-icon aria-hidden="true" name="briefcase"></ion-icon>
        <ion-label>Empresa</ion-label>
      </ion-tab-button>
      <ion-tab-button
        *ngIf="rol === 'egresado'"
        tab="servicios"
        href="/pestanas/servicios"
      >
        <ion-icon aria-hidden="true" name="briefcase"></ion-icon>
        <ion-label>Servicios</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>
