<ion-header>
  <ion-toolbar color="light">
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light" class="borde-azul"></ion-toolbar>
  
</ion-header>
<ion-content class="ion-padding fondo-claro">
  <form [formGroup]="formularioLogin" (ngSubmit)="entrar()" novalidate>
    <ion-item class="item-moderno" lines="full">
      <ion-label position="stacked">Correo electrónico</ion-label>
      <ion-input type="email" formControlName="correo" placeholder="tu@correo.com"></ion-input>
      <ion-note color="danger" *ngIf="formularioLogin.controls.correo.invalid && formularioLogin.controls.correo.touched">Correo no válido</ion-note>
    </ion-item>
    <ion-item class="item-moderno" lines="full">
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" formControlName="contrasena" placeholder="mínimo 8 caracteres"></ion-input>
      <ion-note color="danger" *ngIf="formularioLogin.controls.contrasena.invalid && formularioLogin.controls.contrasena.touched">Contraseña muy corta</ion-note>
    </ion-item>

    <ion-text color="danger" *ngIf="mensajeError">{{ mensajeError }}</ion-text>

    <ion-button expand="block" type="submit" [disabled]="formularioLogin.invalid || estaBloqueado()" class="btn-azul">Entrar</ion-button>

    <div class="links-login">
      <ion-button fill="clear" size="small" (click)="recuperarContrasena()">¿Olvidaste tu contraseña?</ion-button>
    </div>
    <div class="links-login">
      <ion-text>¿No está registrado?</ion-text>
      <ion-button fill="clear" size="small" (click)="irRegistroPersona()">Regístrate Persona</ion-button>
      <ion-button fill="clear" size="small" (click)="irRegistroEmpresa()">Regístrate Empresa</ion-button>
    </div>
  </form>
</ion-content>
