<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light" class="borde-azul"></ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formularioLogin" (ngSubmit)="entrar()" novalidate>
    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input type="email" formControlName="correo"></ion-input>
      <ion-note color="danger" *ngIf="formularioLogin.controls['correo'].invalid && formularioLogin.controls['correo'].touched">Correo no válido</ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" formControlName="contrasena"></ion-input>
      <ion-note color="danger" *ngIf="formularioLogin.controls['contrasena'].invalid && formularioLogin.controls['contrasena'].touched">Mínimo 8 caracteres</ion-note>
    </ion-item>
    <ion-button fill="clear" size="small" (click)="recuperarContrasena()">Recuperar contraseña</ion-button>
    <ion-text color="danger" *ngIf="mensajeError">{{ mensajeError }}</ion-text>
    <ion-button expand="block" type="submit" [disabled]="formularioLogin.invalid || estaBloqueado()" class="btn-azul">Entrar</ion-button>
    <div class="links-login">
      <ion-text>¿No está registrado?</ion-text>
      <ion-button fill="clear" size="small" (click)="irRegistroPersona()">Regístrate Persona</ion-button>
      <ion-button fill="clear" size="small" (click)="irRegistroEmpresa()">Regístrate Empresa</ion-button>
    </div>
  </form>
</ion-content>
