<ion-header>
  <ion-toolbar>
    <ion-title>Mis vacantes</ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button routerLink="/publicar-vacante" color="primary">Publicar vacante</ion-button>
        <ion-button routerLink="/publicar-noticia" color="secondary">Publicar noticia</ion-button>
        <ion-button routerLink="/perfil-empresa" color="tertiary">Ver perfil</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-list-header>
      <ion-label>Vacantes publicadas</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let v of listaVacantes">
      <ion-label>
        <h2>{{ v.titulo }}</h2>
        <p>{{ v.descripcion }}</p>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="editar(v.id!)">Editar</ion-button>
      <ion-button fill="clear" color="danger" slot="end" (click)="eliminar(v.id!)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
