<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Vacantes</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let v of listaVacantes">
      <ion-label>
        <h2>{{ v.titulo }}</h2>
        <p>{{ v.descripcion }}</p>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>Noticias</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let it of listaNoticias">
      <ion-label>
        <h2>{{ it.title }}</h2>
        <p>{{ it.summary }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>