<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Publicar Vacante</title>
    <link rel="stylesheet" href="Css/style.css">
</head>
<body>
    <header class="header">
    <h1 class="logo">Uniempleo</h1>
    <nav class="nav">
      <a href="../View/Usuarios/Empresa_dashboard.php">Volver</a>
    </nav>
  </header>

    <main class="main-content">
    <section class="form-section">
      <form action="../View/GuargarVacante.php" method="post" class="formulario">
        <h2 class="form-title">Crear Nueva Vacante</h2>
       <br> 
        <div class="form-group">
          <label for="titulo">Título del Cargo</label>
          <input type="text" id="titulo" name="titulo" required>
        </div>

        <div class="form-group">
          <label for="descripcion">Descripción del Puesto</label>
          <textarea id="descripcion" name="descripcion" rows="5" required></textarea>
        </div>

        <div class="form-group">
          <label for="ciudad">Ciudad</label>
          <input type="text" id="ciudad" name="ciudad" required>
        </div>

        <div class="form-group">
          <label for="tipo">Tipo de Empleo</label>
          <select id="tipo" name="tipo" required>
            <option value="">Seleccione una opción</option>
            <option value="Presencial">Presencial</option>
            <option value="Remoto">Remoto</option>
            <option value="Híbrido">Híbrido</option>
          </select>
        </div>

        <div class="form-group">
          <label for="perfil">Perfil del Egresado</label>
          <input type="text" id="perfil" name="perfil" placeholder="Ej. Ingeniero de sistemas, Administración..." required>
        </div>

        <div class="form-group">
          <button type="submit" class="btn-submit">Publicar Vacante</button>
        </div>
      </form>
    </section>
  </main>
    <footer class="footer">
        <p>&copy; 2025 UniEmpleo</p>
    </footer>
</body>
</html>